[Desktop Entry]
Encoding=UTF-8
Name=Morrigan Core
Comment=Connect to the Morrigan P2P Network
Comment[de]=Verbinde mit dem Morrigan peer-to-peer Netzwerk
Comment[fr]=Morrigan, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Morrigan, eşten eşe kriptografik sanal para birimi
Exec=morrigan-qt %u
Terminal=false
Type=Application
Icon=morrigan128
MimeType=x-scheme-handler/morrigan;
Categories=Office;Finance;
