policy_module(morrigan, 1.100.1)

########################################
#
# Declarations
#

type morrigan_t;
type morrigan_exec_t;
init_daemon_domain(morrigan_t, morrigan_exec_t)

permissive morrigan_t;

type morrigan_initrc_exec_t;
init_script_file(morrigan_initrc_exec_t)

type morrigan_conf_t;
files_type(morrigan_conf_t)

type morrigan_var_lib_t;
files_type(morrigan_var_lib_t)

type morrigan_var_run_t;
files_type(morrigan_var_run_t)

type morrigan_port_t;
corenet_port(morrigan_port_t)

########################################
#
# morrigan local policy
#
allow morrigan_t self:process { fork };

allow morrigan_t self:fifo_file rw_fifo_file_perms;
allow morrigan_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(morrigan_t, morrigan_conf_t, morrigan_conf_t)
manage_files_pattern(morrigan_t, morrigan_conf_t, morrigan_conf_t)

manage_dirs_pattern(morrigan_t, morrigan_var_lib_t, morrigan_var_lib_t)
manage_files_pattern(morrigan_t, morrigan_var_lib_t, morrigan_var_lib_t)
files_var_lib_filetrans(morrigan_t, morrigan_var_lib_t, { dir file })

manage_dirs_pattern(morrigan_t, morrigan_var_run_t, morrigan_var_run_t)
manage_files_pattern(morrigan_t, morrigan_var_run_t, morrigan_var_run_t)

sysnet_dns_name_resolve(morrigan_t)
corenet_all_recvfrom_unlabeled(morrigan_t)

allow morrigan_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(morrigan_t)
corenet_tcp_sendrecv_generic_node(morrigan_t)
corenet_tcp_sendrecv_all_ports(morrigan_t)
corenet_tcp_bind_generic_node(morrigan_t)

gen_require(`
    type morrigan_port_t;
')
allow morrigan_t morrigan_port_t:tcp_socket name_bind;

gen_require(`
    type morrigan_port_t;
')
allow morrigan_t morrigan_port_t:tcp_socket name_connect;

domain_use_interactive_fds(morrigan_t)

files_read_etc_files(morrigan_t)

miscfiles_read_localization(morrigan_t)

sysnet_dns_name_resolve(morrigan_t)

allow morrigan_t morrigan_exec_t:file execute_no_trans;
allow morrigan_t self:process setsched;
corecmd_exec_ls(morrigan_t)
corenet_tcp_connect_http_port(morrigan_t)
dev_read_urand(morrigan_t)
fs_getattr_xattr_fs(morrigan_t)
kernel_read_system_state(morrigan_t)
