[Unit]
Description=Morrigan's distributed currency daemon
After=network.target

[Service]
User=morrigan
Group=morrigan

Type=forking
PIDFile=/var/lib/morrigand/morrigand.pid
ExecStart=/usr/bin/morrigand -daemon -pid=/var/lib/morrigand/morrigand.pid \
-conf=/etc/morrigan/morrigan.conf -datadir=/var/lib/morrigand -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
